<?xml version="1.0"?>

<robot name="imu" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="imu" params="object_name:='imu' parent_link:='base_link' xyz:='0 0 0' rpy:='0 0 0' topic='imu'">
		<xacro:property
			name="mass"
			value="0.01"/>
		<xacro:property
			name="x"
			value="0.03"/>
		<xacro:property
			name="y"
			value="0.02"/>
		<xacro:property
			name="z"
			value="0.01"/>
		<xacro:property
			name="M_PI"
			value="3.1415926536"/>
		
		
		<link
			name="${object_name}">
			<inertial>
				<origin
					xyz="0 0 0"
					rpy="0 0 0"/>
				<mass
					value="${mass}"/>
				<inertia
					ixx="${(y * y + z * z) / 12.0}"
					iyy="${(x * x + z * z) / 12.0}"
					izz="${(x * x + y * y) / 12.0}"
					ixy="0.0"
					ixz="0.0"
					iyz="0.0"/>
			</inertial>
			<visual>
				<origin
					xyz="0 0 0"
					rpy="0 0 0"/>
				<geometry>
					<box
						size="${x} ${y} ${z}"/>
				</geometry>
				<material
					name="${object_name}_material">
					<color
						rgba="0 0 1 1"/>
					<texture
						filename=""/>
				</material>
			</visual>
			<collision>
				<origin
					xyz="0 0 0"
					rpy="0 0 0"/>
				<geometry>
					<box
						size="${x} ${y} ${z}"/>
				</geometry>
			</collision>
		</link>

		<joint
			name="${object_name}_joint"
			type="fixed">
			<origin
				xyz="${xyz}"
				rpy="${rpy}"/>
			<parent
				link="${parent_link}"/>
			<child
				link="${object_name}"/>
		</joint>

		<gazebo reference="${object_name}">
			<material>Gazebo/Blue</material>
			<gravity>true</gravity>
			<kp>100000.0</kp>
			<kd>10000.0</kd>
			<mu1>0.8</mu1>
			<mu2>0.8</mu2>
			<maxVel>0.0</maxVel>
			<minDepth>0.001</minDepth>

			<sensor name="${object_name}_sensor" type="imu">
				<always_on>true</always_on>
				<update_rate>100</update_rate>
				<visualize>true</visualize>
				<topic>__default_topic__</topic>
				<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
					<topicName>${topic}/data</topicName>
					<bodyName>${object_name}</bodyName>
					<updateRateHZ>50.0</updateRateHZ>
					<gaussianNoise>0.0001</gaussianNoise>
					<xyzOffset>0 0 0</xyzOffset>
					<rpyOffset>0 0 0</rpyOffset>
					<frameName>${object_name}</frameName>
					<initialOrientationAsReference>false</initialOrientationAsReference>
				</plugin>
				<pose>0 0 0 0 0 0</pose>
			</sensor>
		</gazebo>
	</xacro:macro>
</robot>